<!-- <configuration>
    使用logback的基本設定
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    指定特定目錄進行log，等級設為WARN，分別記錄在Console及檔案 
    <logger name="louisz.springboot.example1" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    指定特定目錄進行log，等級設為DEBUG，分別記錄在Console及檔案 
    <logger name="louisz.springboot.example2" level="DEBUG" additivity="true">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
 </configuration> -->
 <!-- 全部進行Debug level紀錄，並且每30秒監控設定檔是否有異動 -->
<configuration debug="true" scan="true" scanPeriod="30 seconds">
     <!-- 記錄檔存放路徑 -->
    <property name="LOG_PATH" value="logs" />
    <!-- 歷史記錄檔存放路徑 -->
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
    <!-- 檔名規則 -->
    <timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <!-- 紀錄存放格式 -->
            <pattern>%d %-5level [%thread] %logger{0} : %msg%n</pattern>
        </layout>
    </appender>
    <!-- 歷史記錄檔搬移規則及存放路徑 -->
    <appender name="File-Appender" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/logfile-${timestamp-by-second}.log</file>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0} : %msg%n</pattern>
            <!-- 套用格式規則置頂 -->
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>
    <!-- 記錄檔異動規則 -->
    <appender name="RollingFile-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/rollingfile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/rollingfile.log%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1KB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0} : %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 非同步方式進行紀錄 -->
    <appender name="Async-Appender" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 套用至RollingFile-Appender -->
        <appender-ref ref="RollingFile-Appender" />
    </appender>
 	<!-- 紀錄套用package、level等 -->
    <logger name="cub.invest.aum.service"  level="info" additivity="false">
        <appender-ref ref="Console-Appender" />
        <appender-ref ref="File-Appender" />
        <appender-ref ref="Async-Appender" />
    </logger>
    <root level="info">
        <appender-ref ref="Console-Appender" />
    </root>
</configuration>